body {
    background-image: url();
    background-position-x: -160px;
    color: #000000;

}
/* title */
h1 {
    color: #ffffff;
    text-shadow: 0 0 20px rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 160px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}
/* image on home */
.center {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    /*Manually alligned*/
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5e0d0d;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: underline;
    font-size: 25px;
    color: #c95252;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}
/* paragraph style */
.Body {font-style: oblique;
    font-size: 200%;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 160px;
    color: #696060;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: .2px;}

    .button {
        background-color: #770000;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
       margin-left: 160px;
      }

.button:hover{
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    background-color: #b30404;}

.demo{
    font-style: oblique;
    font-size: 200%;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 160px;
    color: #000000;}